{% extends "resume/base.html" %}
{% load tethys_gizmos %}
{% load static %}


{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_navigation_items %}

{% url 'resume:home' as home_url %}
{% url 'resume:map' as map_url %}

<button class="btn btn-danger wow fadeInUp" class="{% if request.path == home_url %}active{% endif %}" data-wow-delay="0.4s" type="button"><a href="{{ home_url }}">Home Page</a></button>

<li class="{% if request.path == home_url %}active{% endif %}"><a href="{{ home_url }}">Home Page</a></li>
<li class="{% if request.path == map_url %}active{% endif %}"><a href="{{ map_url }}">Map</a></li>
<!-- <li class="{% if request.path == proposal_url %}active{% endif %}"><a href="{{ proposal_url }}">Proposal Page</a></li>
<li class="{% if request.path == design_url %}active{% endif %}"><a href="{{ design_url }}">Design Page</a></li>
<button id ='button' disabled onclick="app.distanceFinder()">Calculate PHA</button> -->


<style>
  #app-navigation{
    display:none;
  }
  #app-header{
    display: none;
  }
  #app-content-wrapper.show-nav #app-content #app-actions{
    display: none;
  }
  #app-content-wrapper{
    display:flex;
  }


  #app-content-wrapper.show-nav #app-content{
    padding-right:30%;
  }

</style>

<!-- This is the content in the other side -->
{% endblock %}

{% block app_content %}
<head>

  <meta name="description" content="" />
  <meta name="author" content="templatemo">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--
  Matrix Template
  http://www.templatemo.com/tm-405-matrix
  -->


  <script>
  function showhide()
  {
      var div = document.getElementById("newpost");
  if (div.style.display !== "none")
  {
    div.style.display = "none";
  }
  else
  {
    div.style.display = "block";
  }
  }
</script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
    <!-- logo start -->
  <div class="logocontainer">
    <div class="row">
        <h1 ><a href="#">Elkin Giovanni Romero Bustamante</a></h1>
          <div class="clear"></div>
          <div class="templatemo_smalltitle">Dead will reach all of us...</div>
     </div>
  </div>
  <!-- logo end -->
 <div id="menu-container" class="main_menu">
 <!-- homepage start -->
  <div class="content homepage" id="menu-1">
  <div class="container">
          <div class="col-md-3 col-sm-6 templatemo_leftgap">
            <div class="templatemo_mainservice templatemo_botgap">
                <div class="templatemo_link"><a class="show-2 templatemo_page2" href="#">Introduction</a></div>

              </div>
              <div class="templatemo_mainimg"><img src="{% static 'resume/images/tarija1.jpg' %}" alt="home img 01"></div>
          </div>
          <div class="col-md-3 col-sm-6 templatemo_leftgap">
            <div class="templatemo_mainimg templatemo_botgap templatemo_portfotopgap"><img src="{% static 'resume/images/fiesta.JPG' %}" alt="home img 02"></div>
              <div class="templatemo_mainportfolio">
                    <div class="templatemo_link"><a class="show-3 templatemo_page3" href="#">Trips</a></div>

              </div>
          </div>
          <div class="col-md-3 col-sm-6 templatemo_leftgap">
            <div class="templatemo_maintesti templatemo_botgap templatemo_topgap">
                <div class="templatemo_link"><a class="show-4 templatemo_page4" href="#">Adventures</a></div>
              </div>
              <div class="templatemo_mainimg"><img src="{% static 'resume/images/lago2.jpg' %}" alt="home img 03"></div>
          </div>
          <div class="col-md-3 col-sm-6 templatemo_leftgap">
            <div class="templatemo_mainimg templatemo_botgap templatemo_topgap">
               <img src="{% static 'resume/images/lago1.jpg' %}" alt="home img 04">
              </div>
              <div class="templatemo_mainabout templatemo_botgap">
                <div class="templatemo_link"><a class="show-5 templatemo_page5" href="#">Rules</a></div>
              </div>
              <div class="templatemo_maincontact">
                <div class="templatemo_link"><a class="show-6 templatemo_page6" href="#">Contact</a></div>
              </div>
          </div>
  </div>

 </div>
  <!-- homepage end -->
  <!--services start -->
 <div class="content services" id="menu-2">
  <div class="container">
        <div class="row templatemo_bordergapborder">
            <div class="col-md-3 col-sm-12 templatemo_leftgap">
                <div class="templatemo_mainimg templatemo_botgap"><img src="{% static 'resume/images/yo4.jpg'%}" alt="service image" ></div>
                  <div class="templatemo_mainservice templatemo_botgap">
                <div class="templatemo_linkservice"><a class="show-1 templatemo_homeservice" href="#">Go Back</a></div>
              </div>
              </div>

              <div class="templatemo_col37 col-sm-12 templatemo_leftgap" style="margin-top:2%">
                <div class="templatemo_graybg">
                  <div class="templatemo_frame">
                <h2> Who I am </h2>
                  <div class="clear"></div>
                  <p> My name is Elkin Giovanni Romero Bustamante, and I was born in La Paz Bolivia, THe city is great, and the food is better than the weather.
                    The main thing is that I feel that the city in which I was born defines myself. In other words, the darkness and the crude reality of the city may be reflected
                    on the personality of every person born there. I am the kind of person that prefers to be alone and enjoy just having time for myself. I also prefer to be with people around.
                    However, I love music and computers even though I am a beginner in both of them, but who says that one starts good at something ? I also like to think about the future. I Feel
                    that life goes to quickly, and sometimes we do not take time to see where are we going as human beings. I like to think about this issue becuase it is an important mattter that usually
                    we, as people,do not pay attention <br><br>
                    "We all die. The goal isn’t to live forever, the goal is to create something that will". <br>
                     ..........Chuck Palahniuk

                  </p>
                  </div>
                </div>
            </div>
              <div class="templatemo_col37 col-sm-12 templatemo_leftgap templatemo_topgap">
                <div class="templatemo_mainimg templatemo_botgap"><img src="{% static 'resume/images/yo3.JPG'%}" alt="service image" style ="margin-top :11%"></div>
              </div>
          </div>
      </div>
   </div>

  <!-- services end -->

<!-- portfilio start -->
  <div class="portfolio" id="menu-3" style="display: none;" >
    <div class="container">
          <div class="col-md-3 col-sm-6 templatemo_leftgap" style="margin-top:5%">
            <div class="templatemo_insideportfolio templatemo_botgap">
                <div class="templatemo_portfoliotext">
                <h2>Trips</h2>
                  <div class="clear"></div>
                  This are some of the trips to different parts of the world. Traveling is a must in my life. This includes countries
                  like Laos, Peru, Paraguay, Thailand, and USA</div>
            </div>
            <div class="templatemo_portfolioback">
                <div class="templatemo_link"><a class="show-1 templatemo_homeportfolio" href="#">Go Back</a></div>
              </div>

          </div>
          <div class="col-md-3 col-sm-6 templatemo_leftgap">
                      <div class="templatemo_botgap templatemo_portfotopgap gallery-item">
            <img src= " {% static 'resume/images/portfolio/pa15.jpg' %}" alt="gallery 1">
            <div class="overlay">
              <a href=" {% static 'resume/images/portfolio/pa15.jpg' %}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
            </div>
          </div>
              <div class="templatemo_botgap templatemo_topgap gallery-item">
               <img src="{% static 'resume/images/portfolio/pa14.jpg' %}" alt="gallery 2">
                 <div class="overlay">
              <a href="{% static 'resume/images/portfolio/pa14.jpg' %}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
            </div>
              </div>
              <div class="templatemo_botgap templatemo_topgap gallery-item">
               <img src="{% static 'resume/images/portfolio/pa19.JPG' %}" alt="gallery 3">
                 <div class="overlay">
              <a href="{% static 'resume/images/portfolio/pa19.JPG' %}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
            </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 templatemo_leftgap">
      <div class="templatemo_botgap templatemo_topgap gallery-item">
                 <img src="{% static 'resume/images/portfolio/pa4.jpg' %}" alt="gallery 4">
                   <div class="overlay">
              <a href="{% static 'resume/images/portfolio/pa4.jpg' %}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
            </div>
              </div>
              <div class="templatemo_botgap templatemo_topgap gallery-item">
               <img src="{% static 'resume/images/portfolio/pa5.jpg' %}" alt="gallery 5">
                 <div class="overlay">
              <a href="{% static 'resume/images/portfolio/pa5.jpg' %}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
            </div>
              </div>
              <div class="templatemo_botgap templatemo_topgap gallery-item">
               <img src="{% static 'resume/images/portfolio/pa6.jpg' %}" alt="gallery 6">
                 <div class="overlay">
              <a href="{% static 'resume/images/portfolio/pa6.jpg' %}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
            </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6 templatemo_leftgap">
      <div class="templatemo_botgap templatemo_topgap gallery-item">
                 <img src="{% static 'resume/images/portfolio/pa10.jpg' %}" alt="gallery 7">
                   <div class="overlay">
              <a href="{% static 'resume/images/portfolio/pa10.jpg' %}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
            </div>
              </div>
              <div class="templatemo_botgap templatemo_topgap gallery-item">
               <img src="{% static 'resume/images/portfolio/pa2.jpg' %}" alt="gallery 8">
                 <div class="overlay">
              <a href="{% static 'resume/images/portfolio/pa2.jpg' %}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
            </div>
              </div>
              <div class="templatemo_botgap templatemo_topgap gallery-item">
               <img src="{% static 'resume/images/portfolio/pa9.jpg' %}" alt="gallery 9">
                 <div class="overlay">
              <a href="{% static 'resume/images/portfolio/pa9.jpg' %}" data-rel="lightbox" class="fa fa-arrows-alt"></a>
            </div>
              </div>
          </div>
  </div>
  </div>
 <!-- portfolio end -->
<!-- testimonial start -->
  <div class="content testimonial" id="menu-4">
            <div class="container">
        <div class="row templatemo_bordergapborder">
          <!--vertical Tabs-->
        <div id="cmt">
          <div class="col-md-3 col-sm-12 templatemo_leftgap_about">
          <ul class="resp-tabs-list templatemo_testitab">
              <li>Early days</li>
              <li>Puerto Maldonado</li>
              <li>Cuba </li>
          </ul>
          <div class="templatemo_aboutlinkwrapper">
      <div class="templatemo_link"><a class="show-1 templatemo_hometestimonial" href="home.html">Go Back</a></div>
          </div>
          </div>
          <div class="resp-tabs-container templatemo_testicontainer">
              <div>
                <div class="templatemo_col50 templatemo_rightgap_about">
                    <div class="templatemo_graybg templatemo_botgap">
                       <div class="templatemo_frame">
                    <h2>Early days</h2>
                    <p> The early days in Bolivia were fast and full of energy. I was raised in several elementary schools while my parents settle up. Early days were hard, but great, and I think they shape
                    the way I am right now. It is hard sometimes to avoid fate and casuality when the different customs and experiences of childhood are embedded in the heart of the adult...<br>
                    I will say that experiences shape one's will and aspect throughout life, and childhood is not the exception. The outcome of it depends of one. These days will be a beautiful
                    memory in my heart when I remember them on a chair looking to all the years that I have live. No more than a mere point of existance in the earth</p>
                      </div>
                      </div>
                  </div>
                  <div class="templatemo_col50 templatemo_leftgap templatemo_botgap"><img src=" {% static 'resume/images/little.jpg' %}" alt="testimonial image" style="margin-top:20%"></div>
              </div>
              <div>
                <div class="templatemo_col50 templatemo_rightgap_about">
                    <div class="templatemo_graybg templatemo_botgap">
                      <div class="templatemo_frame">
                    <h2>Puerto Maldonado</h2>
                    <p> Puerto will always be one of the most precious memories. It was on 2017 when I decided to go to this town that it is beautiful and has some melancholy that is hidden in the people of the palce
                      . Faces and dust in the miner men, and sadness and frustration in the faces of the lovely women. I never has been amazed byt the complexity of the culture of a town, but
                      I guess maldonado gained my admiration. <br> Miners working the whole day and during the night alcohol and cigarettes for everyone was the daily schedule. Working on the mine was hard, but also rewarding
                    when gold was found. If such treasure would last the next day ...</p>
                      </div>
                      </div>
                  </div>
                  <div class="templatemo_col50 templatemo_leftgap templatemo_botgap"><img src="{% static 'resume/images/maldonado.jpeg' %}" style="margin-top:20%" alt="testimonial image"></div>
              </div>
              <div>
                <div class="templatemo_col50 templatemo_rightgap_about">
                    <div class="templatemo_graybg templatemo_botgap">
                      <div class="templatemo_frame">
                    <h2>Cuba</h2>
                    <p>Cuba was a great experience, and the love of people was huge. The warn welcome was sublime, but the contrast of how human nature works is also. As result, teha dventure of Cuba was a contrast of black and white to give it a complete sense of hamrony and completeness
                    .<br> Having fun with French friends while on the other spending a night on teh local police station, and being robed the same night ... a sense of completeness that is hard to reach if the user is not ready for teh experience.
                    <br> Therefore, the experience calls for a sense of finding one's self. Are you what yopu are if everything is taken from you? Is it this the real form of human nature?</p>
                      </div>
                      </div>
                  </div>
                  <div class="templatemo_col50 templatemo_leftgap templatemo_botgap"><img src="{% static 'resume/images/cuba4.jpg' %}" alt="testimonial image" style="transform: rotate(270deg); margin-top: 25%"></div>
              </div>
          </div>
      </div>
      <div class="col-sm-12 templatemo_leftgap templatemo_aboutlinkwrapper1">
                <div class="templatemo_aboutback templatemo_botgap">
                <div class="templatemo_link"><a class="show-1 templatemo_hometestimonial" href="#">Go Back</a></div>
              </div>
              </div>
  </div>
          </div>

  </div>
 <!-- testimonial end -->
   <!-- about start -->
  <div class="content about" id="menu-5">
    <div class="container">
        <div class="row templatemo_bordergapborder">
          <!--vertical Tabs-->
        <div id="ab">
          <div class="col-md-3 col-sm-12 templatemo_leftgap_about">
          <ul class="resp-tabs-list templatemo_tab">
              <li>Craftiness</li>
              <li>Planning</li>
              <li>Passion</li>
          </ul>
          <div class="templatemo_aboutlinkwrapper">
      <div class="templatemo_link"><a class="show-1 templatemo_homeabout" href="#">Go Back</a></div>
          </div>
          </div>
          <div class="resp-tabs-container templatemo_aboutcontainer">
              <div>
                <div class="templatemo_col50 templatemo_rightgap_about">
                    <div class="templatemo_graybg templatemo_botgap">
                       <div class="templatemo_frame">
                    <h2>Craftiness</h2>
                    <p>I think this one of the key rules in my life, and I feel craftiness has been always associated to bad characters in history and also to be a bad trait. However, it is
                    craftiness the same ability that let the Greeks to enter to Troy with the Trojan Horse. In addition, it is not the same ability that lets people win in chesss. <br><br>
                    I just think that craftiness is necessary in life because it comes when creativity is push to the net level. It is the father of disconformity. The necessary question of the established order</p>
                      </div>
                      </div>
                  </div>
                  <div class="templatemo_col50 templatemo_leftgap templatemo_botgap"><img src=" {% static 'resume/images/cunning.jpg' %}" alt="about image" style="margin-top: 20%"></div>
              </div>
              <div>
                <div class="templatemo_col50 templatemo_rightgap_about">
                    <div class="templatemo_graybg templatemo_botgap">
                      <div class="templatemo_frame">
                    <h2>Planning</h2>
                    <p>  Planning is a necessary aspect of my life because a map is necessary oin every roador stage of my life. A good example will be to think that planning is not just amatter of knowing what tasks get accomplished, but of quality time and product
                    life is short, so the important parts of it should be planned isntead of just planning for the banal or carreer aspects of life. <br><br>
                    The most important aspect is to be in harmony with the proposed goals and life that one has decided to take without any influence from political, or even religious matters. It is one's own decision
                    to shape and change one's fate</p>
                      </div>
                      </div>
                  </div>
                  <div class="templatemo_col50 templatemo_leftgap templatemo_botgap"><img src=" {% static 'resume/images/time.JPG' %} " alt="history image"  style="margin-top: 20%"></div>
              </div>
              <div>
                <div class="templatemo_col50 templatemo_rightgap_about">
                    <div class="templatemo_graybg templatemo_botgap">
                      <div class="templatemo_frame">
                    <h2>Passion</h2>
                    <p>It is probably the key ingredient of life to love one's actions and plans and be able to focus until one complete such a sublime desire or goal. More than love, but probably devotion to ideas that oen knows tahtc an trascend one's name
                      <br> Passion is what makes musicians to wake up on the middle of the night with a pencil and paper to write pure art. It is the strikes of inspirations  of geniality that does not distinguish between good and eveil
                      because passion does not have a moral or ecode of ethics. It is an state or travesy that belongs to the owner.</p>
                      </div>
                      </div>
                  </div>
                  <div class="templatemo_col50 templatemo_leftgap templatemo_botgap"><img src=" {% static 'resume/images/passion.jpg' %} " alt="vision image"></div>
              </div>
          </div>
      </div>
    <div class="col-sm-12 templatemo_leftgap templatemo_aboutlinkwrapper1">
                <div class="templatemo_aboutback templatemo_botgap">
                <div class="templatemo_link"><a class="show-1 templatemo_homeabout" href="#">Go Back</a></div>
              </div>
              </div>
  </div>
          </div>
  </div>
  <!-- about end -->
  <!-- contact start -->
  <div class="content contact" id="menu-6">
    <div class="container">
        <div class="row templatemo_bordergapborder">
            <div class="col-md-3 col-sm-12 templatemo_leftgap">
                <div class="templatemo_mainimg templatemo_botgap"><img src=" {% static 'resume/images/templatemo_contact1.jpg' %} " alt="contact image"></div>
                  <div class="templatemo_maincontact templatemo_botgap">
                <div class="templatemo_linkcontact"><a class="show-1 templatemo_homecontact" href="#">Go Back</a></div>
              </div>
              </div>

              <div class="templatemo_col37 col-sm-12 templatemo_leftgap">
                <div class="templatemo_graybg templatemo_paddinggap">
                <h2>Quetions ?</h2>
                  <div class="clear"></div>
                    <form role="form">
                        <div class="templatemo_form">
                          <input name="fullname" type="text" class="form-control" id="fullname" placeholder="Your Name" maxlength="40">
                        </div>
                        <div class="templatemo_form">
                          <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" maxlength="40">
                        </div>
                         <div class="templatemo_form">
                          <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" maxlength="60">
                        </div>
                        <div class="templatemo_form">
                            <textarea name="message" class="form-control" id="message" placeholder="Your Message..."></textarea>
                        </div>
                        <div class="templatemo_form"><button type="button" class="btn btn-primary">Send</button></div>
                </form>
                </div>
            </div>
              <div class="templatemo_col37 col-sm-12 templatemo_leftgap templatemo_topgap">
                <div class="templatemo_graybg templatemo_paddinggap">
                    <h2>Location</h2>
                      <div class="clear"></div>
                      <div class="templatemo_contactmap">
                <div id="templatemo_map"></div>
                  </div>
                      <div class="templatemo_address">
                      Elkin Giovanni<br>

                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
      <!-- contact end -->

  </div>

    <!-- logo start -->
  <div class="logocontainer">
    <div class="row">
          <div class="templatemo_footer">Copyright © 2020 Gio's chapu</div>
     </div>
  </div>
  <!-- logo end -->
 <script type="text/javascript">
  $(document).ready(function () {
      $('#horizontalTab').easyResponsiveTabs({
          type: 'default', //Types: default, vertical, accordion
          width: 'auto', //auto or any width like 600px
          fit: true, // 100% fit in a container
          closed: 'accordion', // Start closed if in accordion view
          activate: function(event) { // Callback function if tab is switched
              var $tab = $(this);
              var $info = $('#tabInfo');
              var $name = $('span', $info);

              $name.text($tab.text());

              $info.show();

          }
      });

      $('#ab').easyResponsiveTabs({
          type: 'vertical',
          width: 'auto',
          fit: true,
      });


  $('#cmt').easyResponsiveTabs({
          type: 'vertical',
          width: 'auto',
          fit: true,
      });
  });
</script>
{% url 'resume:home' as home_url %}
{% url 'resume:map' as map_url %}

<!-- <button class="btn btn-primary wow fadeInUp" class="{% if request.path == home_url %}active{% endif %}" data-wow-delay="0.4s" type="button" style = "width:20%"><a href="{{ home_url }}">Home Page</a></button> -->
<button class="btn btn-primary wow fadeInUp" class="{% if request.path == map_url %}active{% endif %}" data-wow-delay="0.4s" type="button" style = "width:20%; margin-left: 40%"><a href="{{ map_url }}">Check my map</a></button>

<!-- <li class="{% if request.path == home_url %}active{% endif %}"><a href="{{ home_url }}">Home Page</a></li>
<li class="{% if request.path == map_url %}active{% endif %}"><a href="{{ map_url }}">Map</a></li> -->

</body>






{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->

{% endblock %}

{% block app_actions %}

{% endblock %}
